.project-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
      
      .project-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 20px;
      }
      
      .project-content {
        flex-grow: 1; /* Pushes button to bottom */
        color: white;
      }
      
      .project-button {
        margin-top: auto; /* Ensures button stays at bottom */
        text-align: center;
      }
      
      .project-button a {
        display: block;
        width: 100%;
        height: 60px;
        padding: 12px;
        background-color: #3f0467; /* Violet */
        color: white;
        text-decoration: none;
        transition: background 0.3s ease-in-out;
      }
      
      .project-button a:hover {
        background-color: #1e0033; /* Lighter violet on hover */
      }
      .card-swiper {
  perspective: 50000px; 
}
.swiper-slide {
  transform-style: preserve-3d;
}